
 		{{#each artists}}
     <h5 class="card-title" style="width: 10rem;" "height: 5em">{{ this.name }}</h5>
 				<a href="/albums/{{ this.id }}" class="btn btn-primary">View Albums</a>
 			<img src="{{this.images.[0].url}}" class="card-img-top" alt="..." />
 		{{/each}}